body{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0 ;
}

.informacion{
    display: grid;
    background-color: blue;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 20px;
    padding: 20px;
}  
.div-item{
    background-color: aqua;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    cursor: pointer;
    &:hover{background-color: red;}
}  
.esteGatito{
    background-color: crimson;
}